<section>

<h1>Eat Da Pizza</h1>

<h3>Eat the Pizza that some one left, or order your own</h3>

<ul>
  {{#each pizzas}}
  {{#unless devoured}}

  <li>{{pizza_name}}
    <form action="/devourPizza" method="post">
    <input type="hidden" name="pizzaId" value = "{{id}}">
    <button type="submit">Eat this one!</button>
    </form>
  	
  {{/unless}}
  {{/each}}
</ul>

<h2>Order a Pizza</h2>
<form action="/newPizza" method="post" id="makePizza" class="button-size">
  <input type="text" name="make">
  <button type="submit">Order it!</button>
</form>

<h2>You Just ate</h2>
<ul>
  {{#each pizzas}}
  {{#if devoured}}

  <li>{{pizza_name}}
  

  {{/if}}
  {{/each}}
</ul>

</section>